@import "lib/breakpoints";

.faqPage{
    margin: 0.5rem 1rem;

    .supportPageHeader{
        margin: 2rem 0;
        .title{
            font-style: normal;
            font-weight: bold;
            font-size: 65px;
            line-height: 125.5%;
            max-width: 721px;

            @include media("<phone"){
                font-size: 40px;
            }
        
            @include media(">=phone","<=tablet"){
                font-size: 60px;
            }
        }
    }

    
}