.landingPage{
//     background-color: #000;
//   color: #fff;
    .heroSection{
        position: relative;
        min-height: 100%;
        height:100vh;
        margin: 0 1.5rem;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url("https://res.cloudinary.com/geniesys/image/upload/v1619712841/Alluvium%20Website/hero_fsfn9s.png");
        // box-shadow:inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
        .heroContent{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            z-index: 2;
            color: #fff;
            margin: 3rem 0;

            .bigText{
                padding: 2rem;
                max-width: 350px;
                p{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 75px;
                    line-height: 114%;
                }
            }

            .mainText{
                display: flex;
                flex-direction: column;
                align-self: center;
                max-width: 400px;
                .subtitle{
                    font-style: normal;
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 29px;
                } 
                .projectsBtn{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    align-self: flex-end;
                    margin: 3rem 0 0 0;
                    width: fit-content;

                    &::after{
                        display: block;
                        content: "";
                        border: 2px solid #fff;
                        background: #fff;
                        width: 100%;
                        transition: .2s;
                    }
        
                    &:hover{
                        &::after{
                            width: 0;
                            visibility: hidden;
                        }   
                    }
                }
            }
        }

        .heroImg{
            position: absolute;
            top: 0;
            z-index: -1;
            // display: none;
            // max-width: 1392px;

            img{
               width: 100%; 
            }
        }


    } 

    .featureSection{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5rem 0;

        .features{
            align-self: center;
        }

        .featuresTitle{
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 35px;
        }

        .featureList{
            list-style: none;

            .feature{
                display: flex;
                flex-direction: row;
                margin:1rem 0;

                .featureImg{
                    align-self: center;
                }
                
                .featureContent{
                    max-width: 400px;
                    margin: 0 1.31rem;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 35px;
                }
            }
        }
    }

    .projects{
        display: flex;
        flex-direction: column;
        background: #F7F7F7;
        margin: 0 1.5rem;
        padding: 2rem 3rem 1.1rem 3rem;

        .projectList{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;  
        }

        .allProjectsBtn{
            margin: 3rem 0 0 0;
            width: fit-content;
            transition: .2s;

            &::after{
                display: block;
                content: "";
                border: 2px solid #1B3854;
                background: #1B3854;
                width: 100%;
                transition: .2s;
            }

            &:hover{
                &::after{
                    width: 0;
                    visibility: hidden;
                }   
            }
        }
    }
}