@import "lib/breakpoints.scss";

.landingPage{
    
    .heroSection{
        position: relative;
        min-height: 840px;
        height:100vh;
        margin:0 1.5rem ;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url("https://res.cloudinary.com/geniesys/image/upload/v1619952404/Alluvium%20Website/hero_fsfn9s.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0 0 17px 17px;
        transform:skew(0,7deg);
        transform-origin: right center;

        @include media("<phone"){
            margin: 0;
            min-height: unset;
            height:100%;
        }

        @include media(">=phone","<=custom-view-2"){
            margin: 0;
            min-height: unset;
            height:100%;
        }
        
        .heroContainer{
            height: 100vh;
            // transform:skew(0,-7deg) translateY(9%);
            transform:skew(0,-7deg) translateY(70px);
            @include media("<phone"){
                transform:skew(0,-7deg) translateY(60px);
            }
    
            @include media(">=phone","<=custom-view-2"){
                transform:skew(0,-7deg) translateY(50px);

            }

            @include media(">=custom-view-2","<=desktop"){
                transform:skew(0,-7deg) translateY(90px);
            }

            @include media(">desktop"){
                transform:skew(0,-7deg) translateY(100px);
            }
        }

        .heroContent{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            z-index: 2;
            color: #fff;
            margin: 5rem 0;

            @include media("<phone"){
                flex-direction: column;
                margin: 2.2rem 0;

            }
    
            @include media(">=phone","<=custom-view-3"){
                flex-direction: column;
                margin: 2.7rem 0;
                align-items: center;
            }
            

            .bigText{
                padding: 2rem;
                max-width: 350px;

                @include media("<phone"){
                    max-width: unset;
                    padding: 0.5rem;
                }
        
                @include media(">=phone","<=custom-view-3"){
                    max-width: unset;
                    padding: 0.8rem 1rem;
                }

                p{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 75px;
                    line-height: 114%;

                    @include media("<phone"){
                        font-size: 45px;
                    }
            
                    @include media(">=phone","<=custom-view-3"){
                        font-size: 65px;
                    }
                }
            }

            .mainText{
                display: flex;
                flex-direction: column;
                align-self: center;
                max-width: 400px;

                @include media("<phone"){
                    width: 90%;
                    max-width: unset;
                    align-self: unset;
                }
        
                @include media(">=phone","<=custom-view-3"){
                    width: 95%;
                    max-width: unset;
                    align-self: unset;
                }

                .subtitle{
                    font-style: normal;
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 29px;

                    @include media("<phone"){
                        font-size: 15px;
                        padding: 0.5rem;
                    }
            
                    @include media(">=phone","<=custom-view-3"){
                        font-size: 16px;
                        padding: 0.8rem 1rem;
                    }
                } 
                .projectsBtn{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    align-self: flex-end;
                    margin: 3rem 0 0 0;
                    width: fit-content;

                    &::after{
                        display: block;
                        content: "";
                        border: 2px solid #fff;
                        background: #fff;
                        width: 100%;
                        transition: .2s;
                    }
        
                    &:hover{
                        &::after{
                            width: 0;
                            visibility: hidden;
                        }   
                    }
                }
            }
        }

        .heroImg{
            position: absolute;
            top: 0;
            z-index: -1;
            // display: none;
            // max-width: 1392px;

            img{
               width: 100%; 
            }
        }


    } 

    .featureSection{
        display: flex;
        flex-direction: column;
        margin: 5rem 0;

        @include media("<phone"){
            flex-direction:column ;
            margin: 3rem 0;
        }

        @include media(">=phone","<=custom-view-2"){
            flex-direction:column ;
            margin: 3.5rem 0;
        }

        .featuresTitle{
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 62px;
            text-align: center;
            margin: 1rem 0 5rem 0;

            @include media("<phone"){
                text-align: center;
                font-size: 30px;
            }
    
            @include media(">=phone","<=custom-view-2"){
                text-align: center;
                font-size: 40px;
            }
        }

        .features{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            align-self: center;

            @include media("<phone"){
                flex-direction: column;
                margin: 1.4rem 0;
            }
    
            @include media(">=phone","<=custom-view-2"){
                flex-direction: column;
                margin: 1.4rem 0;
            }
        }

        .featureList{
            list-style: none;

            .feature{
                display: flex;
                flex-direction: row;
                margin:3rem 0;

                @include media("<phone"){
                    flex-direction: column ;
                    margin:2rem 0;
                }
        
                @include media(">=phone","<=custom-view-2"){
                    flex-direction: column ;
                    margin:2.5rem 0;
                }

                .featureImg{
                    align-self: center;
                    max-width: 680px;

                    img{
                        width:100%;
                        object-fit: contain;
                    
                    }

                    @include media("<phone"){
                        flex-direction: column ;
                        margin:0.5rem;
                    }
            
                    @include media(">=phone","<=custom-view-2"){
                        flex-direction: column ;
                        margin:0.5rem 1rem;
                    }
                }
                
                .featureContent{
                    max-width: 400px;
                    margin: 0 1.5rem;

                    @include media("<phone"){
                        text-align: center;
                    }
            
                    @include media(">=phone","<=custom-view-2"){
                        text-align: center;
                    }

                    .featureTitle{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 47px;
                        color: #000000;

                        @include media("<phone"){
                            font-size: 20px;
                            line-height: 30px;
                        }
                
                        @include media(">=phone","<=custom-view-2"){
                            font-size: 30px;
                            line-height: 40px;
                        }
                    }

                    .featureSubtitle{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 170%;
                        color: rgba(61, 61, 61, 0.9);
                    }
                }
            }
        }
    }

    .projects{
        display: flex;
        flex-direction: column;
        background: #F7F7F7;
        margin: 0 1.5rem;
        padding: 2rem 3rem 1.1rem 3rem;

        @include media("<phone"){
            margin: 0;
            padding: 2rem 0.5rem 1.1rem 0.5rem;
        }

        @include media(">=phone","<=desktop"){
            margin: 0;
            padding: 2rem 0.8rem 1.1rem 0.8rem;
        }

        .projectList{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            @include media("<phone"){
                flex-direction: column ;
                flex-wrap: nowrap;
                align-items: center;
            }
    
            @include media(">=phone","<=desktop"){
                flex-direction: column ;
                flex-wrap: nowrap;
                align-items: center;
            }
        }

        .allProjectsBtn{
            margin: 3rem 0 0 0;
            width: fit-content;
            transition: .2s;

            &::after{
                display: block;
                content: "";
                border: 2px solid #1B3854;
                background: #1B3854;
                width: 100%;
                transition: .2s;
            }

            &:hover{
                &::after{
                    width: 0;
                    visibility: hidden;
                }   
            }
        }
    }
}