@import "lib/breakpoints";

.navigationMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin: 0 1.5rem 1rem 1.5rem;
    padding: 2rem 0 0 0;
    border-bottom: 1px solid #C4C4C4;

    @include media("<phone"){
        margin: 0 0 1rem 0;
    }

    @include media(">=phone","<=tablet"){
        margin: 0 0.5rem 1rem 0.5rem;
    }

    
    .logo{
        padding: 0.2rem;
        max-width: 150px;
        cursor: pointer;

        img{
            width: 100%;
        }
    }

    .navigation{
        padding: 0 0.5rem;
    }

    ul{
        list-style: none;
    }

    .desktopMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-self: center;
        width: 100%;
        padding: 0 0.2rem;

        @include media("<phone"){
            display: none;
        }

        @include media(">=phone","<=custom-view-1"){
            display: none;
        }

        li{
            margin: 0 10%;
            padding: 0.3rem;
            color: #fff;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 19px;
            white-space: nowrap;
            transition: 0.2s;

            @include media("<phone"){
                margin: 0 6%;
            }
    
            @include media(">=phone","<=custom-view-2"){
                margin: 0 6%;
            }

            &:hover{

                transform: translateY(-5px);
                
            }
        }
    }

    .menuBtn{
        display: none;
        width: 30px;
        flex-direction: column;
        margin: 0.5rem;
        align-self: center;
        cursor: pointer;

        @include media("<phone"){
            display: flex;
        }

        @include media(">=phone","<=custom-view-1"){
            display: flex;
        }

        .barOne,.barTwo,.barThree{
            display: block;
            height:4px;
            width: 100%;
            margin: 0.15rem 0;
            background:#fff;
            border-radius:50px;
        }
    }
    
    .mobileMenu{
        display: none;
        background: #1B3854;
        position: fixed;
        left: 0;
        z-index: 4;
        padding: 2rem;
        width:100%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.411);

        ul{
            margin: 1rem 0;

            li{
                margin: 0.7rem 0;
                padding: 0.4rem;
                color: #fff;

                &:hover{
                    color: rgba(255, 255, 255, 0.521);
                }
            }
        }
    }
}


.desktopMenuDark{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
    padding: 0 0.2rem;

    @include media("<phone"){
        display: none;
    }

    @include media(">=phone","<=custom-view-1"){
        display: none;
    }

    li{
        margin: 0 10%;
        padding: 0.3rem;
        color: #000;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        white-space: nowrap;
        transition: 0.2s;

        &:hover{
            transform: translateY(-5px); 
        }
    }
}
