@import "lib/breakpoints";

#main {
  display: flex;
  // background-color: #000000;
  flex-direction: row;
  // align-items: center;
  position: relative;
  min-height: max-content;
  width: 100%;
  // padding: 0px 60px;

  @include media("<phone") {
    display: block;
    padding: 40px 0px 0px 0px;
  }

  @include media(">=phone", "<=custom-view-1") {
    padding: 40px 0px 0px 0px;
  }

  @media screen and (max-width: 576px) {
    display: block;
    // padding-top: 30px;
  }

  .sideBar {
    background-image: url('/assets/test-confirmation/testBG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    // height: max-content;
    width: 50%;
    padding: 0px 30px 0px 30px;
    // padding-left: 30px;
    background-color: #00627a;
    position: relative;
    display: flex;
    align-items: center;
    // bottom: 0px;

    @media screen and (max-width: 769px) {
      background-position: bottom right;
    }

    @media screen and (max-width: 576px) {
      // display: block;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .sideBarContent {

      h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 682;
        font-size: 38px;
        line-height: 46px;
        text-decoration-line: underline;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 30px;

        @media screen and (max-width: 576px) {
          font-size: 37px;
        }

      }

      .demands {
        background: rgba(255, 255, 255, 0.54);
        padding: 20px;

        .demand {
          display: flex;
          align-items: flex-start;
          // justify-content: space-around;

          .demandText {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            margin: 0;
            text-transform: uppercase;
            // font-variant: small-caps;
            color: #000000;
            margin-left: 20px;
          }
        }
      }
    }

    .sideTitle {
      h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 78px;
        margin-left: 20px;
        color: #000000;
        // text-shadow: 0 0 4px 5px #FFFFFF;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;

        @media screen and (max-width: 769px) {
          font-size: 50px;
          line-height: 40px;
        }

        @media screen and (max-width: 576px) {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }

    .sideFooter {
      position: absolute;
      bottom: 20px;
      left: 20px;

      @media screen and (max-width: 769px) {
        display: none;
      }
    }
  }



  .rightbar {
    width: 50%;
    // background-color: #00627a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px;

    @include media("<phone") {
      padding: 40px 0px 0px 0px;
    }

    @include media(">=phone", "<=custom-view-1") {
      padding: 40px 0px 0px 0px;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
    }

    .header {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 30vw;
      color: #00627a;
      margin: 0 auto;
      margin-bottom: 20px;

      @include media("<phone") {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 90vw;
      }

      @include media(">=phone", "<=custom-view-1") {
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        width: 20vw;
      }

      // @include media(">=custom-view-1","<=custom-view-2"){
      //     flex-direction: row;
      // }
    }

    h1 {
      font-weight: 600;
      font-size: 32px;
      font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

      @include media("<phone") {
        font-size: 24px;
      }

      @include media(">=phone", "<=custom-view-1") {
        font-size: 24px;
      }

      // @include media(">=custom-view-1","<=custom-view-2"){
      //     // padding: 6px;
      //     font-size: 12px;
      //     // margin: 0 0.5rem 1rem 0.5rem;
      // }
    }

    .successBG {
      // color: green;
      background-color: rgb(0, 128, 0) !important;
    }

    .dangerBG {
      // color: red;
      background-color: rgb(185, 0, 0) !important;
    }

    .response {
      position: fixed;
      z-index: 200;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: #00627a42;

      .responseData {
        width: 40vw;
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #00627a;

        @include media("<phone") {
          margin-top: 50px;
          width: 90%;
        }

        @include media(">=phone", "<=custom-view-1") {
          margin-top: 50px;
          width: 90%;
        }

        h3 {
          @include media("<phone") {
            width: 90%;
          }

          @include media(">=phone", "<=custom-view-1") {
            width: 90%;
          }
        }
      }

      // @include media(">=custom-view-1","<=custom-view-2"){
      //     // padding: 6px;
      //     font-size: 12px;
      //     // margin: 0 0.5rem 1rem 0.5rem;
      // }
      button {
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: transparent;
        border: 0;
        font-weight: 900;
        font-size: larger;
        transition: 0.5s;

        &:hover {
          font-size: x-large;
          color: white;
          cursor: pointer;
        }

        @include media("<phone") {
          width: 6%;
        }

        @include media(">=phone", "<=custom-view-1") {
          width: 6%;
        }
      }
    }

    .feedback {
      position: fixed;
      z-index: 210;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(217, 217, 217, 0.56);

      .feedbackData {
        max-width: 60vw;
        padding: 30px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;

        @include media(">=tablet", "<desktop") {
          margin-top: 50px;
          // max-width: 100%;
        }

        @include media(">phone", "<tablet") {
          margin-top: 50px;
          max-width: 94%;
        }
        
        @include media("<=phone") {
          margin-top: 50px;
          max-width: 90%;
          padding: 20px;
        }

        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 49px;
          text-align: center;
          font-variant: small-caps;
          
          color: #009DC2;
          
        @include media(">phone", "<tablet") {
          font-size: 10vw;
        }

          @include media("<=phone") {
            font-size: 9vw;
            line-height: 36px;
          }
        }

        button {
          background: #009BC0;
          border-radius: 6.72px;
          font-style: normal;
          font-weight: 600;
          font-size: 26.88px;
          line-height: 33px;
          text-align: center;
          font-variant: small-caps;
          color: #ffffff;
          margin-top: 20px;

          @include media(">=phone", "<=custom-view-1") {
            width: 90%;
          }

          @include media("<=tablet") {
            width: 200px;
            // width: 40%;
          }

          @include media("<phone") {
            width: 90%;
          }
        }
      }

      // @include media(">=custom-view-1","<=custom-view-2"){
      //     // padding: 6px;
      //     font-size: 12px;
      //     // margin: 0 0.5rem 1rem 0.5rem;
      // }
      button {
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: transparent;
        border: 0;
        font-weight: 900;
        font-size: larger;
        transition: 0.5s;

        &:hover {
          font-size: x-large;
          color: white;
          cursor: pointer;
        }

        @include media("<phone") {
          width: 6%;
        }

        @include media(">=phone", "<=custom-view-1") {
          width: 6%;
        }
      }
    }

    .success {
      // color: green;
      background-color: rgba(0, 128, 0, 0.432);
    }

    .danger {
      // color: red;
      background-color: rgba(255, 0, 0, 0.459);
    }

    form {
      width: 40vw;
      margin-top: 30px;

      @include media("<phone") {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 50px;
      }

      @include media(">=phone", "<=custom-view-1") {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 50px;
      }

      // @include media(">=custom-view-1","<=custom-view-2"){
      //     // padding: 6px;
      //     font-size: 12px;
      //     // margin: 0 0.5rem 1rem 0.5rem;
      // }
      // background-color: #009BC0;
      input,
      select {
        padding: 8px 30px;
        margin-bottom: 20px;
        font-size: 23.38px;
        border: 0;
        border-radius: 4px;
        box-shadow: -1.10682px 1.10682px 4.4273px 1.10682px rgba(0, 0, 0, 0.25);
        display: block;
        width: 100%;

        @include media("<phone") {
          padding: 8px 10px;
          font-size: 16px;
        }

        @include media(">=phone", "<=custom-view-1") {
          padding: 8px 10px;
          font-size: 16px;
        }

        &:focus {
          outline: none;
        }
      }

      input[type="submit"] {
        background: #009bc0;
        color: white;
        padding: 15px 30px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}