.privacy {
	margin-bottom: 100px;
	h3, p, li{
	color: rgba(19, 34, 48, 0.7) !important;
	}
}
.banner{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important; 
	position: relative !important;
	height: 500px;
	.title{
		text-transform: capitalize;
		color: #FFFFFF;
		text-shadow: -2px 2px 0 #009BC0,
                    2px 2px 0 #009BC0,
                    2px -2px 0 #009BC0,
                	-2px -2px 0 #009BC0;
		text-align: right;
		// font-size: 50px;
		// -webkit-text-stroke-width: 2px;
		// -webkit-text-stroke-color: #009BC0;
		// text-shadow: 0 0 3px #009BC0, 0 0 5px #009BC0;
		// border: 4px solid #009BC0;
	}

	.image{
		max-width: 82% !important;
	}

	.image2{
		display: none;
	}
}

@media (min-width:1224px) {
	.banner{
		height: 670px !important;
	}
}

@media (min-width:1480px) {
	.banner{
		height: 810px !important;

		.image{
			max-width: 100% !important;
		}
	}
}

@media (max-width:576px) {
	.banner{
		height: 500px !important;

		.image{
			display: none !important;
		}
	
		.image2{
			display: block !important;
			max-width: 90%;
		}
	}
}

// @media (min-width:576px) {
// 	.banner{
// 		height: 500px !important;

// 		.image{
// 			display: block !important;
// 			max-width: 95% !important;
// 		}
// 	}
// }
	

	




