@import'lib/breakpoints.scss';

.reelPage{
    main{
        display: flex;
        flex-direction: column;
        margin: 2rem 3rem;

        @include media("<phone"){
            margin: 1.5rem 0.5rem;
        }
    
        @include media(">=phone","<=custom-view-4"){
            margin: 2rem;
        }
        
        .hireUsLink{
            margin: 1rem 0;
            align-self: flex-end;

            &::after{
                display: block;
                content: "";
                height: 2px;
                background-color: #000;
                width: 100%;
                color: #000;
                transition: .2s;
                
            }
    
            &:hover{
                &::after{
                    width: 0;
                    visibility: hidden;
                }   
            }
        }

        .reelPageHeader{
            margin: 1rem 0;
            max-width: 800px;
            align-self: center;
            h3{
                font-family: IBM Plex Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 45px;
                line-height: 150%;
                text-align: center;
                color: #000000;

                @include media("<phone"){
                    font-size: 30px;
                    line-height: 120%;
                }
            
                @include media(">=phone","<=custom-view-4"){
                    font-size: 35px;
                    line-height: 120%;
                }
            }
        }

        .photoGallery{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            // max-width: 95vw;

            .photo{
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
                &:nth-child(2){
                    grid-column: auto / span 2;  
                }

                &:nth-child(3){
                    grid-column: auto / span 2;
                    grid-row: auto / span 2;
                }

                
            }
        }
    }
}