@import 'lib/breakpoints';

.search{
    display: flex;
    flex-direction: column;
    align-self: center;

    @include media("<phone"){
        display: none;
    }

    @include media(">=phone","<=custom-view-1"){
        display: none;
    }

    .searchInput{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .searchIcon{
            margin: 0 0.1rem;

            img{
                width: 100%;
            }
        }

        input{
            background-color: transparent;
            border: none;
            color: #fff;
            margin: 0 0.5rem;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #fff;
                
            }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #fff;
            }
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: #fff;
            }
        }
    }
}


.searchDark{
    display: flex;
    flex-direction: column;
    align-self: center;

    @include media("<phone"){
        display: none;
    }

    @include media(">=phone","<=custom-view-1"){
        display: none;
    }

    .searchInput{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .searchIcon{
            margin: 0 0.1rem;

            img{
                width: 100%;
            }
        }

        input{
            background-color: transparent;
            border: none;
            color: #000;
            margin: 0 0.5rem;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 19px;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #000;
                
            }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #000;
            }
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: #000;
            }
        }
    }
}


// Mobile Search Component

.mobileSearch{
    display: flex;
    flex-direction: column;
    align-self: center;

    .searchInput{
        display: flex;
        flex-direction: row;
        background: #fff;
        padding: 0.7rem;
        border-radius: 15px;

        .searchIcon{
            margin: 0 0.1rem;

            img{
                width: 100%;
            }
        }

        input{
            background-color: transparent;
            border: none;
            color: #000;
            margin: 0 0.5rem;
            width: 100%;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 19px;
            outline: 0.3px dotted #000;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #000;
                
            }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #000;
            }
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: #000;
            }
        }
    }
}


.mobileSearchDark{
    display: flex;
    flex-direction: column;
    align-self: center;

    .searchInput{
        display: flex;
        flex-direction: row;
        background: #fff;
        padding: 0.7rem;
        border-radius: 15px;

        .searchIcon{
            margin: 0 0.5rem;

            img{
                width: 100%;
            }
        }

        input{
            background-color: transparent;
            border: none;
            color: #000;
            margin: 0 0.5rem;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 19px;
            width: 100%;
            outline: 0.3px dotted #000;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #000;
                
            }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #000;
            }
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: #000;
            }
        }
    }
}
