@import "lib/breakpoints.scss";

.shareOption{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    padding: 1rem 3rem;

    @include media("<phone"){
        padding: 0.7rem;
    }

    @include media(">=phone", "<=custom-view-4"){
        padding: 1rem 2rem;
    }

    .shareLink{
        margin: 0.7rem 0;

        a,button{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            cursor: pointer;

            @include media("<phone"){
                font-size:16px;
            }
        
            @include media(">=phone", "<=custom-view-4"){
                font-size:17px;
            }

            &::after{
                content: "";
                display: block;
                background: #000;
                height: 2px;
                width: 0;
                transition: 0.3s;
            }
            
        }

        &:hover{
            a,button{
                &::after{
                    width: 100%;
                }
                
            }
        }



        button{
            background: none;
            border: none;
        }
    }
}

.hideShareOption{
    display: none;
}