.statusPage{
    main{
        padding: 3rem 2rem;
    }

    .statusPageHeader{
        .title{
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 125.5%;
            max-width: 721px;
        }
    }
    
}